body {
  background-color: rgb(217, 217, 217);
}

.all-projects-content {
  display: flex;
  column-gap: 6em;
}

.projects-navigation {
  margin-left: 1em;
  margin-top: 7em;
}

.logo-el {
  outline: 4px solid blue;
  font-size: 35px;
  font-weight: bold;
  background: black;
  color: white;
  padding: 0 5px;
  border-radius: 10px;
}

.ul-head {
  list-style: none;
  padding: 0;
  padding-top: 2em;
}

.li-head {
  margin-bottom: 1.5rem;
}

.li-head a {
  text-decoration: none;
  font-size: 19px;
  outline: 1px solid blue;
  padding: 0 3px;
  border-radius: 10px;
  color: rgb(38, 38, 38);
  font-weight: 900;
}

.li-head:hover {
  transform: skew(-20deg);
}

h2 {
  margin: 0;
  margin-bottom: 1.6em;
}

.projects-introduction {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.5em;
  box-shadow: 0 0 40px rgb(217, 217, 217);
  background-color: rgb(242, 242, 242);
  padding: 0 10px;
}

.all-projects {
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
}

.projects {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 1em;
}
